@model back_end_s6_l01_02_03_04.Models.ClientePrivato

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.CodiceFiscale)
    @Html.TextBoxFor(model => model.CodiceFiscale)
    <br />

    @Html.LabelFor(model => model.Nome)
    @Html.TextBoxFor(model => model.Nome)
    <br />

    @Html.LabelFor(model => model.Cognome)
    @Html.TextBoxFor(model => model.Cognome)
    <br />

    @Html.LabelFor(model => model.Indirizzo)
    @Html.TextBoxFor(model => model.Indirizzo)
    <br />

    @Html.LabelFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email)
    <br />

    <input type="submit" value="Salva" />
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
